__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
env/
venv/
.venv/
.env
.env.*
.idea/
build/
dist/
__pycache__/
*.sqlite3
*.mp4
*.avi
*.mkv
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.zip
*.tar.gz
*.egg
node_modules/
.git/
